@model Etrade.Entity.Models.ViewModels.ListViewModel
@{
    ViewData["Title"] = "Search";
}

<h1>Search</h1>

<div class="row">
    <div class="col-md-3">
        <ul class="list-group">
            @if (ViewBag.Id == null)
            {
                <li class="list-group-item active" aria-current="true">
                    <a class="active" asp-controller="Home" asp-action="Search">All Categories</a>

                </li>
            }
            else
            {
                <li class="list-group-item" aria-current="true">
                    <a class="" asp-controller="Home" asp-action="Search">All Categories</a>

                </li>
            }
            @foreach (var category in Model.Categories
            )
            {
                if (ViewBag.Id != null)
                {
                    if (category.Id == ViewBag.Id)
                    {
                        <li class="list-group-item">
                            <a class="active" asp-controller="Home" asp-action="Search" asp-route-id="@category.Id">@category.Name</a>
                        </li>
                    }
                    else
                    {
                        <li class="list-group-item">
                            <a class="" asp-controller="Home" asp-action="Search" asp-route-id="@category.Id">@category.Name</a>
                        </li>
                    }
                }
                else
                {
                    <li class="list-group-item">
                        <a class="" asp-controller="Home" asp-action="Search" asp-route-id="@category.Id">@category.Name</a>
                    </li>
                }
            }
        </ul>
    </div>
    <div class="col-md-9">
        @if (Model.Products.Count == 0)
        {
            <div class="alert alert-danger" role="alert">
                <i class="bi bi-exclamation-circle"></i>
                No Products Found in this Category!
            </div>
        }
        else
        {
            <div class="alert alert-primary" role="alert">
                <i class="bi bi-exclamation-circle"></i>
                <strong>@Model.Products.Count</strong> Products found in Category.
            </div>
        }
        @await Html.PartialAsync("_ProductList",Model.Products)
    </div>
</div>